<div class="home-center">
  <div class="project-list">
    <div class="project-item" (click)="open('software-engineer')">work</div>
    <div class="project-item" (click)="open('project-2')">education</div>
    <div class="project-item" (click)="open('project-3')">projects</div>
    <div class="project-item" (click)="open('project-3')">inchiostro</div>
    <div class="project-item" (click)="open('project-3')">passions</div>
  </div>
  <div class="three-container" #container></div>
</div>
